## Series Demo!

In [1]:
import pandas as pd
import numpy as np

In [2]:
new_series = pd.Series(data = [10, 20, 30, 40, 50, 60])
new_series #<==== in a notebook, you can put the think you want to see in the last line. It's similar to a print statement

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

### Notice the index and values!

In [3]:
new_list = [10, 20, 30, 40, 50, 60]
new_list

[10, 20, 30, 40, 50, 60]

In [4]:
new_list + 1

TypeError: can only concatenate list (not "int") to list

In [5]:
#ew a for loop
#for loops will also rarely be used
for i in range(len(new_list)):
    new_list[i] = new_list[i] + 1
new_list

[11, 21, 31, 41, 51, 61]

In [6]:
new_series + 1

0    11
1    21
2    31
3    41
4    51
5    61
dtype: int64

In [7]:
x = new_series * new_series #notice they must be the same size
x

0     100
1     400
2     900
3    1600
4    2500
5    3600
dtype: int64

In [8]:
x = np.sqrt(x)
x

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
dtype: float64

In [9]:
x = str(x)
x

'0    10.0\n1    20.0\n2    30.0\n3    40.0\n4    50.0\n5    60.0\ndtype: float64'

In [10]:
#You can index like normal in python
new_series[0]

10

In [11]:
new_series[0] = new_series[2] * new_series[1]
new_series

0    600
1     20
2     30
3     40
4     50
5     60
dtype: int64

In [12]:
#The index of series don't have to be numbers!
d = {'a': 1, 'b': 2, 'c': 3}
new_ = pd.Series(data=d, index=['a', 'b', 'c'])
new_

a    1
b    2
c    3
dtype: int64

In [14]:
new_['c']

3

In [15]:
#Can select with multiple rows
new_[["a", "c"]]

a    1
c    3
dtype: int64

## Sneak peak into next week
Hopefully this will give some insights on why series > lists when we deal with tables

In [20]:
new_e = pd.Series(data = [10, 20, 30, 40, 50, 60, 10, 10, 10, 10, 40, 23])
new_e = new_e.sort_values(ascending= False)
#notice our indexes
new_e

5     60
4     50
3     40
10    40
2     30
11    23
1     20
0     10
6     10
7     10
8     10
9     10
dtype: int64

In [21]:
new_e[9]

10

In [22]:
new_e = new_e.reset_index(drop=True)
new_e

0     60
1     50
2     40
3     40
4     30
5     23
6     20
7     10
8     10
9     10
10    10
11    10
dtype: int64

In [23]:
new_e.value_counts()

10    5
40    2
60    1
50    1
30    1
23    1
20    1
Name: count, dtype: int64

In [24]:
new_e.unique()

array([60, 50, 40, 30, 23, 20, 10])

In [25]:
new_er = pd.Series(data = [10, 20, 30, 40, 50, 60, 10, None, None, None])
new_er

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6    10.0
7     NaN
8     NaN
9     NaN
dtype: float64

In [26]:
new_er.fillna("hi")

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
6    10.0
7      hi
8      hi
9      hi
dtype: object