## WOOT WOOT

This is the first assignment! Yay

Quick notes:

You can press `shift` + `enter` to run the selected cell

Don't hesitate to contact me (669-677-0450) if you feel stuck or other issues (like tables aren't loading in)

We will go over the questions next week during class

In [ ]:
import pandas as pd
import numpy as np

To begin the assignment, let's create a new data called `ice_cream`

There are three columns in `ice_cream`:\
&emsp; &emsp; 1. `Flavor`: the flavor of the ice cream\
&emsp; &emsp; 2. `Color`: the color of the ice cream\
&emsp; &emsp; 3. `Price`: the price of the ice cream\

In [ ]:
ice_cream = pd.DataFrame(
    data = {'flavor': ['chocolate', 'mint chocolate', 'strawberry', 'vanilla'],
          'color': ['brown', 'green', 'red', 'white'],
          'price': [1.0, 0.75, 0.35, 0.05]
          })
ice_cream

## Task 1: The Basics

**1a)** Add a column of integers containing 1, 2, 3, and 4 called `rating` to the `ice_cream` table, which expresses **your personal rating** of the flavors (1 is best; 4 is worst (aka mint chocolate)). There is no right order, it is completely your choice of rankings.

In [ ]:
...

ice_cream

A potential final dataframe:

|       | flavor         | color | price | rating |
|-------|----------------|-------|-------|--------|
| 0     | chocolate      | brown | 1.00  | 1      |
| 1     | mint chocolate | green | 0.75  | 4      |
| 2     | strawberry     | red   | 0.35  | 3      |
| 3     | vanilla        | white | 0.05  | 2      |

**1b)** Right now our column names are quite ugly! Use the `.rename()` function to change the column names so that they start with a capital letter. Assign this to a new table called `ice_cream_cap`

In [ ]:
ice_cream_cap = ...
ice_cream_cap

The table should now look like something along the lines of this:

|       | Flavor         | Color | Price | Rating |
|-------|----------------|-------|-------|--------|
| 0     | chocolate      | brown | 1.00  | 1      |
| 1     | mint chocolate | green | 0.75  | 4      |
| 2     | strawberry     | red   | 0.35  | 3      |
| 3     | vanilla        | white | 0.05  | 2      |

**1c)** Oh no! Jesse hates mint chocolate ice cream! Use the `.loc` or `.iloc` function to remove mint chocolate from the table. Assign this new table to a new table called `no_mint`.

Don't froget to reset your index!

Hint: You might have to drop a column

In [ ]:
no_mint = ...
no_mint

|       | Flavor         | Color | Price | Rating |
|-------|----------------|-------|-------|--------|
| 0     | chocolate      | brown | 1.00  | 1      |
| 1     | strawberry     | red   | 0.35  | 3      |
| 2     | vanilla        | white | 0.05  | 2      |

**1d)** The ice cream store has experienced the determental effects of inflation! Add one dollar then square the price of all values in the `Price` column.

Make sure to replace the old `Price` column

Also make sure to use the `no_mint` table

In [ ]:
...
no_mint

Perhaps a final answer looks like this:

|       | Flavor         | Color | Price | Rating |
|-------|----------------|-------|-------|--------|
| 0     | chocolate      | brown | 4.0000  | 1      |
| 1     | strawberry     | red   | 1.8225  | 3      |
| 2     | vanilla        | white | 1.1025	  | 2      |

## Task 2: Babynames

Welcome back to our personal favorite dataset: `babynames`! Run the following cell to load in the table!

In [ ]:
file_path = "data/namesbystate_ca.txt.gz"
column_labels = ['State', 'Sex', 'Year', 'Name', 'Count']

babynames = pd.read_csv(file_path, names=column_labels)
assert (len(babynames == 407428))
babynames.head(10)

Make sure the table has similar entries to the following:
| Index | State | Sex | Year | Name      | Count |
|-------|-------|-----|------|-----------|-------|
| 0     | CA    | F   | 1910 | Mary      | 295   |
| 1     | CA    | F   | 1910 | Helen     | 239   |
| 2     | CA    | F   | 1910 | Dorothy   | 220   |
| 3     | CA    | F   | 1910 | Margaret  | 163   |
| 4     | CA    | F   | 1910 | Frances   | 134   |
| 5     | CA    | F   | 1910 | Ruth      | 128   |
| 6     | CA    | F   | 1910 | Evelyn    | 126   |
| 7     | CA    | F   | 1910 | Alice     | 118   |
| 8     | CA    | F   | 1910 | Virginia  | 101   |
| 9     | CA    | F   | 1910 | Elizabeth | 93    |

Recall that the babynames dataset contains a record of the given names of babies born in the United States each year. The next two questions will be about boolean arrays. Recall the following table:

Symbol | Usage      | Meaning 
------ | ---------- | -------------------------------------
==   | a == b   | Does a equal b?
<=   | a <= b   | Is a less than or equal to b?
&gt;=   | a >= b   | Is a greater than or equal to b?
<    | a < b    | Is a less than b?
&#62;    | a &#62; b    | Is a greater than b?
~    | ~p       | Returns negation of p
&#124; | p &#124; q | p OR q
&    | p & q    | p AND q
^  | p ^ q | p XOR q (exclusive or)

**2a)** I'm curious about the total number of people named `Allen` in California throughout the years! Use the `babynames` dataframe to sum up counts of all the people named `Allen` in California

In [ ]:
allen = ...
allen

**2b)** Using boolean arrays, select the names in the year 2004 (from `babynames`) that have larger than 3000 counts

Reassign this dataframe to `babynames_2004`

Make sure you don't modify `babynames`

In [ ]:
babynames_2004 = ...
babynames_2004

The final answer should look like:
| Index  | State | Sex | Year | Name    | Count |
|--------|-------|-----|------|---------|-------|
| 164382 | CA    | F   | 2004 | Emily   | 3416  |
| 352685 | CA    | M   | 2004 | Daniel  | 4170  |
| 352686 | CA    | M   | 2004 | Anthony | 3808  |
| 352687 | CA    | M   | 2004 | Andrew  | 3492  |
| 352688 | CA    | M   | 2004 | Jose    | 3386  |
| 352689 | CA    | M   | 2004 | Jacob   | 3340  |
| 352690 | CA    | M   | 2004 | Joshua  | 3301  |
| 352691 | CA    | M   | 2004 | David   | 3267  |
| 352692 | CA    | M   | 2004 | Angel   | 3211  |

**2c)** Create a table using `babynames` with two columns: 1. Year and 2. The count of people who were born in that year.

Hint: We have done this in lecture!

Agian, make sure you don't modify `babynames`

In [ ]:
babynames_sum = ...
babynames_sum.head(10)

The first 10 rows:

| Year | Count |
|------|-------|
| 1910 | 9163  |
| 1911 | 9983  |
| 1912 | 17946 |
| 1913 | 22094 |
| 1914 | 26926 |
| 1915 | 35835 |
| 1916 | 37501 |
| 1917 | 39916 |
| 1918 | 44692 |
| 1919 | 45119 |

**2d)** **[Challege]** Output the name with the most total count througout the 2000s (Year 2000 and after) in the `babynames` table.

Note:

The output should be a singular string of the name

There is purposely very little information

In [ ]:
...

## Task 3: Let Us Merge!

Let's introduce a new data set: `elections`! This table consists of the `Year`, `Candidate`, `Party`, `Popular vote`, `Result`, and `%` of every candidates election!

In [ ]:
elections = pd.read_csv("data/elections.csv")
elections.head(5)

Double check the table looks like this:

|  | Year | Candidate        | Party                 | Popular Vote | Result | Percentage |
|-------|------|------------------|-----------------------|--------------|--------|------------|
| 0     | 1824 | Andrew Jackson   | Democratic-Republican | 151271       | loss   | 57.210122  |
| 1     | 1824 | John Quincy Adams| Democratic-Republican | 113142       | win    | 42.789878  |
| 2     | 1828 | Andrew Jackson   | Democratic            | 642806       | win    | 56.203927  |
| 3     | 1828 | John Quincy Adams| National Republican   | 500897       | loss   | 43.796073  |
| 4     | 1832 | Andrew Jackson   | Democratic            | 702735       | win    | 54.574789  |

**3a)** Create a Series object that shows the best `%` for every party, sorted in decreasing order. Only include a party if their max `%` is more than 10.

In [ ]:
party_wins = ...
party_wins

The final series should have these entries (Not dataframe): 

| Party                   |  |
|-------------------------|------------|
| Democratic              | 61.344703  |
| Republican              | 60.907806  |
| Democratic-Republican   | 57.210122  |
| National Union          | 54.951512  |
| Whig                    | 53.051213  |
| Liberal Republican      | 44.071406  |
| National Republican     | 43.796073  |
| Northern Democratic     | 29.522311  |
| Progressive             | 27.457433  |
| American                | 21.554001  |
| Independent             | 18.956298  |
| Southern Democratic     | 18.138998  |
| American Independent    | 13.571218  |
| Constitutional Union    | 12.639283  |
| Free Soil               | 10.138474  |

**3b)** This question will help you learn how to read documentation! Use `str.split`, and create a new column in the elections called `First Name` that is equal to the candidate's first name.

See the **panda str** [documentation](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html) for `str.split`

PS: Do not modify the `elections` dataframe!

Hint: add `.str[0]` after your `str.split` call

In [ ]:
elections_with_first_name = elections.copy()

... 

elections_with_first_name

The answer should look like:

| Index | Year | Candidate        | Party               | Popular Vote | Result | Percentage | First Name |
|-------|------|------------------|---------------------|--------------|--------|------------|------------|
| 0     | 1824 | Andrew Jackson   | Democratic-Republican | 151271   | loss   | 57.210122  | Andrew     |
| 1     | 1824 | John Quincy Adams| Democratic-Republican | 113142   | win    | 42.789878  | John       |
| 2     | 1828 | Andrew Jackson   | Democratic          | 642806       | win    | 56.203927  | Andrew     |
| 3     | 1828 | John Quincy Adams| National Republican | 500897       | loss   | 43.796073  | John       |
| 4     | 1832 | Andrew Jackson   | Democratic          | 702735       | win    | 54.574789  | Andrew     |
| ...   | ...  | ...              | ...                 | ...          | ...    | ...        | ...        |
| 177   | 2016 | Jill Stein       | Green               | 1457226      | loss   | 1.073699   | Jill       |
| 178   | 2020 | Joseph Biden     | Democratic          | 81268924     | win    | 51.311515  | Joseph     |
| 179   | 2020 | Donald Trump     | Republican          | 74216154     | loss   | 46.858542  | Donald     |
| 180   | 2020 | Jo Jorgensen     | Libertarian         | 1865724      | loss   | 1.177979   | Jo         |
| 181   | 2020 | Howard Hawkins   | Green               | 405035       | loss   | 0.255731   | Howard     |

Below I've created the table `babynames_2022` for you! It has the name and count of every name born in 2022!

In [ ]:
babynames_2022 = (
    babynames[babynames['Year'] == 2022]
              .groupby("Name")
              .sum()[["Count"]]
              .reset_index()
)
babynames_2022

**3c)** Merge `babynames_2022` with `elections_with_first_name` to see how popular the presidents name was!

In [ ]:
name_popularity = ...
name_popularity

Final result is something like:

|  | Name    | Count | Year | Candidate         | Party       | Popular vote | Result | Percentage | First Name |
|-------|---------|-------|------|-------------------|-------------|--------------|--------|------------|------------|
| 0     | Aaron   | 903   | 1920 | Aaron S. Watkins  | Prohibition | 188787       | loss   | 0.708351   | Aaron      |
| 1     | Abraham | 353   | 1860 | Abraham Lincoln   | Republican  | 1855993      | win    | 39.699408  | Abraham    |
| 2     | Abraham | 353   | 1864 | Abraham Lincoln   | National Union | 2211317  | win    | 54.951512  | Abraham    |
| 3     | Allan   | 38    | 1916 | Allan L. Benson   | Socialist   | 590524       | loss   | 3.194193   | Allan      |
| 4     | Andre   | 242   | 1992 | Andre Marrou      | Libertarian | 290087       | loss   | 0.278516   | Andre      |
| ...   | ...     | ...   | ...  | ...               | ...         | ...          | ...    | ...        | ...        |
| 139   | William | 831   | 1932 | William Z. Foster | Communist   | 103307       | loss   | 0.261069   | William    |
| 140   | William | 831   | 1936 | William Lemke     | Union       | 892378       | loss   | 1.960733   | William    |
| 141   | Woodrow | 6     | 1912 | Woodrow Wilson    | Democratic  | 6296284      | win    | 41.933422  | Woodrow    |
| 142   | Woodrow | 6     | 1916 | Woodrow Wilson    | Democratic  | 9126868      | win    | 49.367987  | Woodrow    |
| 143   | Zachary | 296   | 1848 | Zachary Taylor    | Whig        | 1360235      | win    | 47.309296  | Zachary    |

**3d)** Using `name_popularity` create the pivot table below!

| Party                   | Popular Vote (Loss) | Popular Vote (Win) |
|-------------------------|---------------------|--------------------|
| American                | 158271              | 0                  |
| American Independent    | 11172260            | 0                  |
| Anti-Masonic            | 100715              | 0                  |
| Anti-Monopoly           | 134294              | 0                  |
| Citizens                | 233052              | 0                  |
| Communist               | 103307              | 0                  |
| Constitution            | 346721              | 0                  |
| Constitutional Union    | 590901              | 0                  |
| Democratic              | 314190254           | 441751531          |
| Democratic-Republican   | 151271              | 113142             |

Hints:

Here's the pivot table [documentation](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html).

You might find **pivot_table's fill_value** useful

In [ ]:
pivot_name_popularity = ...
pivot_name_popularity.head(10)

## Congratulations

Don't worry if you didn't get all the questions! We will review this assignment in class next week. Don't hesitate to ask me (my phone number is 669-677-0450) for help!